@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=Special+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Silkscreen, sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(24, 23, 23, 0.9607843137);
}

/*--------------------------------------------HEADER SECTION--------------------------------------------*/
.header--container {
  background-color: #181818;
  width: 100%;
  height: 10vh;
  z-index: 1;
  max-height: 10vh;
}

header {
  max-width: 1920px;
  margin: auto;
  display: flex;
  height: 10vh;
}

.img--logo-container img {
  width: 60px;
}

.img--logo-container {
  height: 10vh;
  width: 20vw;
  margin-top: 5px;
  margin-left: 5px;
}

.navbar--icon {
  width: 27px;
  position: absolute;
  fill: #fff;
  right: 15px;
  top: 15px;
}

.header--navbar {
  display: flex;
  flex-direction: column;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s;
  width: 0%;
}

.list--container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 40vh;
  list-style: none;
  gap: 20px;
  margin-top: 100px;
}

.links {
  border-top: 2px solid #c0c0c0;
  height: 10vh;
  display: flex;
  align-items: end;
}

.links a {
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
  width: 100%;
}

.link5 {
  border-bottom: 2px solid #c0c0c0;
}

.link5 a {
  margin: 10px 0 15px 15px;
}

.closeMenu {
  display: none;
}

/*--------------------------------------------MEDIA QUERIES SECTION--------------------------------------------*/
@media screen and (min-width: 700px) {
  .navbar--icon {
    top: 25px;
    right: 30px;
  }
  .img--logo-container img {
    width: 80px;
  }
}
@media screen and (min-width: 900px) {
  .navbar--icon {
    display: none;
  }
  .header--navbar {
    width: 100%;
    flex-direction: row;
    height: 10vh;
    position: relative;
  }
  .header--container {
    position: sticky;
    top: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  .list--container {
    flex-direction: row;
    margin: 0;
    height: 10vh;
  }
  .links {
    border: none;
    align-items: center;
  }
  .link5 {
    margin-right: 10px;
  }
  .links a {
    padding: 10px;
    transition: 0.5s;
  }
  .links a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
  }
  .img--logo-container {
    margin-top: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .img--logo-container img {
    width: 70px;
  }
  .img--logo-container {
    margin: 5px 0 0 10px;
  }
}
/*--------------------------------------------FOOTER SECTION--------------------------------------------*/
.footer--container {
  background-color: #181818;
  width: 100%;
  margin-top: 100px;
}

footer {
  max-width: 1920px;
  min-height: 10vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
  font-family: sans-serif;
}

.text--container {
  line-height: 1.5rem;
  margin-top: 10px;
}

.center--line {
  border: 1px solid #fff;
  width: 95%;
  border-radius: 10px;
}

.social--media-icon svg {
  width: 35px;
  margin: 0 7px;
  fill: #fff;
  margin-bottom: 10px;
}

/*--------------------------------------------MEDIA QUERIES SECTION--------------------------------------------*/
@media screen and (min-width: 900px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .center--line {
    width: 1px;
    height: 8.5vh;
  }
  .text--container {
    width: 50%;
    margin: 0 0 0 20px;
  }
  .social--media-container {
    display: flex;
    width: 50%;
    justify-content: end;
    gap: 10px;
    align-items: center;
  }
  .social--media-icon {
    display: flex;
  }
  .social--media-icon:last-child {
    margin-right: 20px;
  }
}
.offerts--container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
  top: 0;
  background-image: url(../images/principal\ image.jpg);
  background-size: cover;
  background-position: center;
}

.title--offerts-container {
  height: 30vh;
  display: flex;
  align-items: center;
  text-shadow: 0 0 30px #000;
}

/*--------------------------------------------MAIN SECTION--------------------------------------------*/
main {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card {
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60vh;
  margin: 30px auto 0;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.6392156863);
  padding: 10px;
  transition: 0.5s;
  font-family: sans-serif;
  color: #fff;
}

.card img {
  height: 35vh;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
}

.grid--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.title {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #fff;
  background-color: #000;
  padding: 10px 0;
}

.marcas--container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.marcas {
  display: flex;
  background-color: #fff;
}

.marcas--container img {
  width: 40vw;
  height: 7vh;
  animation: movility 10s linear infinite;
  margin: 0 10px;
}

.title--marcas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title--marcas h2 {
  margin: 0 0 15px 0;
}

.link--ofertas {
  text-decoration: none;
  color: #fff;
}

/*--------------------------------------------MEDIA QUERIES SECTION--------------------------------------------*/
@media screen and (min-width: 900px) {
  .card:hover {
    box-shadow: 0 5px 0 rgba(255, 255, 255, 0.6901960784), 0 0 5px #fff9ff;
    scale: 105%;
  }
  .offerts--container {
    height: 60vh;
  }
}
@media screen and (min-width: 1200px) {
  .title--offerts-container {
    font-size: 2rem;
  }
  .card {
    min-height: 30vh;
    height: 20vh;
  }
  .card img {
    height: 20vh;
  }
}
/*--------------------------------------------ANIMATION SECTION--------------------------------------------*/
@keyframes movility {
  0% {
    transform: translateX(-950%);
  }
  100% {
    transform: translateX(250%);
  }
}
/*--------------------------------------------MAIN SECTION--------------------------------------------*/
.section--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 2px solid #fff;
  width: 90%;
  border-radius: 20px;
  animation: parpadeo both ease-in-out infinite 2s;
}

.form--title {
  font-size: 2rem;
  color: #fff;
  margin: 20px 0 30px;
}

.form--form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form--input-container {
  display: grid;
  grid-template-areas: "nombre" "apellido" "email" "mensaje";
  gap: 20px;
  width: 90%;
  margin: 20px auto;
}

.nombre {
  grid-area: nombre;
}

.apellido {
  grid-area: apellido;
}

.email {
  grid-area: email;
}

.mensaje {
  grid-area: mensaje;
}

input {
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 4px;
  width: 100%;
  padding: 8px 0;
  background-color: transparent;
}

.form--guide {
  margin: 0 0 5px;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
}

input::-moz-placeholder {
  padding-left: 7px;
  color: #fff;
}

input::placeholder {
  padding-left: 7px;
  color: #fff;
}

textarea {
  resize: none;
  height: 15vh;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
}

textarea::-moz-placeholder {
  padding: 5px 0 0 7px;
  color: #fff;
}

textarea::placeholder {
  padding: 5px 0 0 7px;
  color: #fff;
}

.button {
  width: 100%;
  align-items: center;
}

.button input {
  width: 40%;
  border-bottom: 1px solid #fff;
  transition: 0.5s;
  color: #fff;
}

/*--------------------------------------------MEDIA QUERIES SECTION--------------------------------------------*/
@media screen and (min-width: 900px) {
  .form--input-container {
    grid-template-areas: "nombre apellido" "email email" "mensaje mensaje";
  }
  .button {
    align-items: start;
  }
}
/*--------------------------------------------ANIMATION SECTION--------------------------------------------*/
@keyframes parpadeo {
  0% {
    box-shadow: 0 0 5px #fff9ff;
  }
  50% {
    box-shadow: 0 0 15px #fff9ff;
  }
  100% {
    box-shadow: 0 0 5px #fff9ff;
  }
}/*# sourceMappingURL=style.css.map */