/*--------------------------------------------FOOTER SECTION--------------------------------------------*/

footer{
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: #181818;
    margin-top: 40px;
}

.footer--container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;   
}

.text--container{
    line-height: 1.5rem;
    margin-top: 10px;
}

.center--line{
    border: 1px solid #fff;
    width: 95%;
    border-radius: 10px;
}

.social--media-icon svg{
    width: 35px;
    margin: 0 7px;
    fill: #fff;
    margin-bottom: 10px;
}

/*--------------------------------------------MEDIA QUERIES SECTION--------------------------------------------*/

@media screen and (min-width:900px){

    .footer--container{
        flex-direction: row;
        height: 100%;
    }

    .center--line{
        width: 1px;
        height: 90%;
    }

    .text--container{
        width: 50%;
        margin: 0 0 0 20px;
        
    }

    .social--media-container{
        display: flex;
        width: 50%;
        justify-content: end;
        gap: 10px;
        align-items: center;
    }

    .social--media-icon{
        display: flex;
        
    }

    .social--media-icon:last-child{
        margin-right: 20px;
    }
}

