/*--------------------------------------------MAIN SECTION--------------------------------------------*/
main{
    grid-area: main;
}
.section--container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact--form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 2px solid #fff;
    width: 360px;
    border-radius: 20px;
    animation: parpadeo both ease-in-out infinite 2s;
}

.form--title{
    font-size: 2rem;
    color: #fff;
    margin: 20px 0 30px;
}

.form--form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form--input-container{
    display: grid;
    grid-template-areas: 
    "nombre"
    "apellido"
    "email"
    "mensaje"
    ;
    gap: 20px;
    width: 90%;
    margin: 20px auto;
}

.nombre{
    grid-area: nombre;
}

.apellido{
    grid-area: apellido;
}

.email{
    grid-area: email;
}

.mensaje{
    grid-area: mensaje;
}

input{
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 4px;
    width: 100%;
    padding: 8px 0;
    background-color: transparent;
}

.form--guide{
    margin: 0 0 5px;
}

label{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    
}

input::placeholder{
    padding-left: 7px;
    color: #fff;
}

textarea{
    resize: none;
    height: 15vh;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}

textarea::placeholder{
    padding: 5px 0 0 7px;
    color: #fff;
}

.button{
    width: 100%;
    align-items: center;
    
}

.button input{
    width: 40%;
    border-bottom:1px solid #fff;
    transition: .5s;
    color: #fff;
}

/*--------------------------------------------MEDIA QUERIES SECTION--------------------------------------------*/
@media screen and (min-width:900px){
    .form--input-container{
        grid-template-areas: 
        "nombre apellido"
        "email email"
        "mensaje mensaje"
        ;
    }

    .contact--form{
        width: 500px;
    }

    .button{
        align-items: start;
    }
}

/*--------------------------------------------ANIMATION SECTION--------------------------------------------*/

@keyframes parpadeo{
    0%{
        box-shadow: 0 0 5px #fff9ff;
    }

    50%{
        box-shadow: 0 0 15px #fff9ff;}

    100%{
        box-shadow: 0 0 5px #fff9ff;
    }
}