/*--------------------------------------------MAIN SECTION--------------------------------------------*/

.contact--form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form--title{
    font-size: 2.3rem;
}

.form--form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form--input-container{
    display: grid;
    grid-template-areas: 
    "nombre"
    "apellido"
    "email"
    "mensaje"
    ;
    gap: 20px;
    width: 90%;
    margin: 20px auto;
}

.nombre{
    grid-area: nombre;
}

.apellido{
    grid-area: apellido;
}

.email{
    grid-area: email;
}

.mensaje{
    grid-area: mensaje;
}

input{
    border: 0;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100%;
    padding: 8px 0;
    background-color: transparent;
}

.form--guide{
    margin: 0 0 5px;
}

label{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

input::placeholder{
    padding-left: 7px;
}

textarea{
    resize: none;
    height: 15vh;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
}

textarea::placeholder{
    padding: 5px 0 0 7px;
}

.button{
    width: 100%;
    align-items: center;
}

.button input{
    width: 40%;
    border:1px solid #000;
    transition: .5s;
}

/*--------------------------------------------MEDIA QUERIES SECTION--------------------------------------------*/
@media screen and (min-width:900px){
    .form--input-container{
        grid-template-areas: 
        "nombre apellido"
        "email email"
        "mensaje mensaje"
        ;
        width: 40%;
    }

    .button{
        align-items: start;
    }
}